# Build files
dist/
build/

# Dependency directories
node_modules/

# Environement variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Debug components 
tests/

.cache/
.vscode/
.docker/